/*

Vanilla Template

https://templatemo.com/tm-526-vanilla

*/

.price {
  background-color: #CD5F5F6B;
  color: #fff;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
}

.pricetext { color: #CD5F5F ; }

body {
  color: #766068;}

p {
  font-size: 16px;
  line-height: 25px;
  color: #766068;
}

section {
  padding: 25px 0 35px;
/*   background: #fff; */
}

body { 
  position: relative; /* we need this for the scrollspy */ 
  font-size: 14px;
  background-color: #ded3c8;
/*   background: linear-gradient(0deg, rgba(151,122,109,1) 0%, rgba(26,13,63,1) 80%, rgba(26,13,63,1) 100%); */

/*  gradient
  #977a6d
  #1a0d3f
  */
}

a { color: #776346; text-decoration: underline;
  -webkit-transition: all .3s;
  transition: all .3s; }

a:hover { 
  color: #b47f59; 
  -webkit-transition: all .3s;
  transition: all .3s;
}

strong { color:#996b96  }

/*----------
  top button
----------*/

#toTopBtn {
  position: fixed;
/*   bottom: 17px;
  right: 17px; */
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: hsla(5,76%,62%,.8);
}

#toTopBtn:hover {
  background-color: hsla(5,76%,62%,.5);
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
}

.js-cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s,visibility .3s,background-color .3s;
}


.cd-top--fade-out {
  opacity: 0.5;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}


.navbar-fixed-top
{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1030;
}

/*----------
  NAV
----------*/

.fixed-side-navbar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 99999;
  margin-top: -100px;
  text-align: right;
  padding: 30px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.fixed-side-navbar:hover {
  background: transparent;
}
.fixed-side-navbar:hover .nav > li > a > span,
.fixed-side-navbar.showNavSpan .nav > li > a > span {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  padding: 2px 12px;
  border-radius: 15px;
}
.fixed-side-navbar .nav > li a.active {
  background-color: transparent;
  color: #6b535e;
}
.fixed-side-navbar .nav > li a.active span {
  font-weight: 800;
  color: #6b535e;
}
.fixed-side-navbar .nav > li a.active:after {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.fixed-side-navbar .nav > li a.active:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
}
.nav>li {
  position: relative;
  display: block;
}
.fixed-side-navbar .nav > li 
{
   margin: 0;
}
.fixed-side-navbar .nav > li a {
  color: #fff;
  min-height: 32px;
  background: transparent;
  padding: 5px 45px 5px 25px;
  border-right: none;
  border: none;
}
.fixed-side-navbar .nav > li a span {
  display: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.fixed-side-navbar .nav > li a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.75);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.fixed-side-navbar .nav > li a:hover {
  background-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: black;
  boder-right: 0;
}
.fixed-side-navbar .nav > li a:hover > span {
  color: rgba(111,101,91,1);
  display: block;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}


.primary-button a {
  display: inline-block;
  background-color: #776346;
  padding: 15px 24px;
/*   border-radius: 8px; */
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.5px;
  transition: all 1s;
}
.primary-button a:hover {
  transition: all 1s;
  background-color: #b47f59;
}


.parallax-content {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}


.baner-content {
  padding-top: 36vh;
  min-height: 100vh;
  text-align: center;
  background-color: #ded3c8;
  background-image: url("../img/bg_frame.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center top;
/*   background-image: url(../img/1st-section.jpg); */
}

.baner-content p a.sns {
  background-color: #bca175;
  font-size: 20px;
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  min-width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50rem;
  display: inline-block;
  transition: all 1s;
  text-decoration: none;
}

.baner-content p a.sns:hover {
/*   color: #000; */
  transition: all 1s;
  background-color: #776346;
}

.baner-content h1 { 
  position: relative; 
  margin-bottom: 24px; 
}

.baner-content h1 span, .highlight_title_span {
  position: relative;
  z-index: 2;
  margin-top: 0px;
/*   font-size: 80px; */
  margin-bottom: 12px;
/*   color: #fff; */
  font-weight: 600;
/*   text-transform: uppercase; */

/*   text-shadow: 0 0 10px #d4c5b5; */
  background-color: rgb(111,101,91);
  background-image: linear-gradient(rgba(111,101,91,1), rgba(124, 104, 85,1) 37%);
  background-image: linear-gradient(180deg, rgb(111, 101, 91) 0%, rgb(111, 101, 91) 36%, rgb(153, 133, 114) 37%, rgb(124, 104, 85) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.baner-content h1 span::before,
.highlight_title_span::before {
      /* Highlight color */
      background-color: #ffffff70;
      border-radius:  4px;

      content: "";
      position: absolute;
      width: calc(100% + 12px);
      height: 33%;
      left: -6px;
      bottom: -12px;
      z-index: 1;
      transform: rotate(-2deg);
}
.highlight_title_span::before { bottom: -3px; }

.baner-content em {
  color: #ff7d27;
  font-weight: 600;
  font-style: normal;
}

span.description {
  font-size: 32px;
}
.baner-content span {
  display: inline-block;
/*   margin-top: -20px; */
  font-weight: 300;
  color: #6b535e;
}

.baner-content .primary-button {
  margin-top: 35px;
}



.service-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  padding-bottom: 15vh;
/*   background-color: rgb(162, 142, 132); */
/*   background-color: rgb(198, 182, 167); */
  background-color: rgb(200, 188, 177);
/*   background-image: url(../img/2nd-section.jpg); */
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.service-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 40px;
}

h4, .h4 {
  font-size: 18px;
}

.service-content .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-color: #766068;
  margin: 20px 0px 20px 0px;
}

.service-content .left-text p {
/*   color: #fff; */
}

.service-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.service-content .left-text ul li {
  margin: 15px 0px;
  font-weight: 600;
  font-size: 16px;
/*   color: #fff; */
}

.service-content .left-text .primary-button {
  margin: 30px 0px;
}

.service-item h4 {
  line-height: 2.4;
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 50rem;
}

.service-item .price {
  font-size: 15px;
}

.service-content .service-item {
  background-color: rgba(232, 209, 192, 0.5);
  padding: 23px 22px;
  text-align: center;
/*   color: #fff; */
  margin-bottom: 30px;
}

.line-dec {
  width: 45px;
  height: 3px;
  background-color: #a58971;
  margin: 20px auto 15px auto;
}

.service-right-centent .row {
  display: flex;
  flex-wrap: wrap;
}

.service-right-centent .row .col-md-4 {
  display: flex;
  flex-direction: column;
}

.service-right-centent .row .service-item {
 flex: 1 0 auto;
}


.projects-content {
  padding-top: 16vh;
  padding-bottom: 16vh;
/*   background-image: url(../img/3rd-section.jpg); */
}

.projects-content h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.projects-content h3 {
  color: rgb(111,101,91);
  margin-bottom: 20px;
  font-weight: 600;
}

.projects-content ul {
  list-style: none;
}

.projects-content li::before {
  content: "\2022";
  color: #d4a5a5;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.projects-content li {
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
  line-height: 3rem;
/*   list-style: square; */
  border-bottom: 2px dotted #ada0a0;
  margin-bottom: 6px;
}

.projects-content li:nth-child(even) {
  background-color: #f2e8e88f;
}


.projects-content .content_part {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.second_sec {
  background-color: #d3c3be96}

.projects-content .item img {
  width: 100%;
}

.projects-content .item {
  margin: 15px;
}

.projects-content .item .text-content {
  background-color: #fff;
  text-align: center;
  padding: 20px;
}

.projects-content .item .text-content h4 {
  margin-top: 0px;
  font-size: 19px;
  font-weight: 600;
}

.projects-content .item .text-content span {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  color: ##846698;
}

.owl-pagination {
  margin-top: 40px;
  opacity: 1;
  display: inline-block;
}

.owl-page span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0px 5px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}


.tab_contain .col-md-3:after {
  content: "";
  display: block;
/*   padding-bottom: 100%; */
}

.tab_contain .hoverZoomLink:hover
{
  opacity: 0.5;
}

.imgcrop {
  position: relative;
  background-color: #a58e7d;
  clip-path: circle(50% at 50% 50%);
  object-fit:cover;
  padding-bottom: 100%;
  margin-bottom: 8px;
}

.imgcrop img {
  position: absolute;
  left: 0;
  top: 0;
  clip-path: circle(49% at 50% 50%);
  object-fit:cover;
  width: 100%;
  height: 100%;
}


.tabs-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12vh;
  padding-bottom: 12vh;
/*   background-image: url(../img/4th-section.jpg); */
  background-color: rgb(198, 182, 167);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.tabs-content h3 {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.tabpanel_content h3 {
  margin-top: 6rem;
  margin-bottom: 8rem;
}

section {
  background-color: transparent;
  padding-bottom: 15px;
}

.wrapper {
  text-align: center;
}

.tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tabs li {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.tabs a {
  display:block;
  text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  color:#fff;
  font-size: 14px;
  font-weight: 700;
  padding:10px 15px;
  border:4px solid #fff;
}

.tabs a:hover {
  color: ##846698;
}

.tabs .active {
  border:4px solid ##846698;
}

.tabgroup .col-md-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.tabs-content section {
/*   padding-top: 50px; */
}

.tabs-content a {
  text-decoration: none;
}

.tabs-content ul.tabs a:hover {
  opacity: 0.8;
  background-color: #ffffffce;
  color: rgb(198, 182, 167);
}


.tabgroup .tabpanel_content
{
  padding-top: 3rem;
  padding-bottom: 4rem;
  min-height: 100vh;
}

.tabpanel_content .line-dec {
  margin: 40px auto !important;
}

.tabgroup p {
/*   background-color: rgba(0, 0, 0, 0.5); */
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
}

.tabgroup .card { 
  margin-bottom: 20px;
  background-color: transparent !important;
  border: none;
}

.tabgroup .card-body {
  padding: 0;
  background-color: #747067;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

#tab3 h3 { margin-bottom: 45px; font-size: 20px; }
#tab3 p 
{
   font-size: 16px;
}
#tab3 p a {
             font-size: 16px;
text-decoration: underline;
}

#tab3 .tab_subcontent {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #ffffff4d;
  border-radius: 4px;
}



footer {
  text-align: center;
  background-color: rgb(171, 147, 120);
/*   background-color: #1a0d3f; */
  padding: 70px 0px;
}

footer .primary-button {
  margin-bottom: 30px;
}

footer ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin: 0px 4px;
}

footer ul li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  background-color: #bcaa75;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 17px;
}

footer ul li a:hover {
  color: #fdd8be;
  background-color: #f0a5a5;
}

footer p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

footer em {
  color: #776346;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 767px){

  #toTopBtn {
    bottom: 17px;
    right: 17px;
  }

  
  .baner-content {
    padding-top: 30vh;
  }

  .baner-content h1 {
    font-size: 64px;
  }

  .baner-content em {
  }

  .baner-content span:not(.display-1) {
    font-size: 24px;
  }

  .baner-content .primary-button {
    margin-top: 15px;
  }

  .service-content {
/*     text-align: center; */
  }
  .service-content, .projects-content {
    padding-top: 6vh;
    padding-bottom: 6vh;
  }

  .service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: #766068;
    margin: 20px auto 20px auto;
  }

  .service-content .left-text ul {
    text-align: left;
  }

  .service-content .service-item {
/*     background-color: rgba(0, 0, 0, 0.5); */
    padding: 25px 30px;
    text-align: center;
/*     color: #fff; */
    margin-bottom: 30px;
  }

  .service-content .service-item .text-left {
    text-align: center !important;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* LIGHT BOX */

body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
